$favColor: rgb(63, 81, 138);
$tankBackground: url(https://25.media.tumblr.com/tumblr_m78cuwyiFR1r16x4po1_500.jpg);

$yardBackground: url(https://previews.123rf.com/images/nathadech/nathadech1601/nathadech160100001/51163973-green-grass-background-vertical.jpg
);
$attackBackground: url(https://lh3.googleusercontent.com/proxy/qxletwgZHCgHn29t09z1NWQzCzPzUYDtLnCu0mT0YduOb6mT8DPDeX3lemDlxFBBLZAJIe-IZGJiVlE0NypjVCTnc37086bjFMILwMkpYRQRgk43oRP0JGMYMi0vNOhhhzI8LpcZyugP1zfaouoppaZRniw5931ln6NWcZob7Zah5wg);

$graveBackground: url(https://i.pinimg.com/originals/5c/2f/60/5c2f60cadd127d0f5d954da6ac39912f.jpg);

$studentBackground: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT3qFXutqLRStzgWSIryfnaBU0fHVCy6gjs9w&usqp=CAU);